<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <Platform>ARM64</Platform>
    <TargetFramework>net10.0-windows10.0.19041.0</TargetFramework>
    <RuntimeIdentifier>win-arm64</RuntimeIdentifier>
    <PublishProtocol>FileSystem</PublishProtocol>
    <_TargetId>Folder</_TargetId>
    <PublishDir>$(MSBuildProjectDirectory)\..\..\artifacts\publish\win-arm64\</PublishDir>
    <PublishUrl>$(MSBuildProjectDirectory)\..\..\artifacts\publish\win-arm64\</PublishUrl>
    <DeleteExistingFiles>true</DeleteExistingFiles>
    <SelfContained>true</SelfContained>
    <WindowsAppSDKSelfContained>true</WindowsAppSDKSelfContained>
    <WindowsPackageType>None</WindowsPackageType>
    <PublishSingleFile>false</PublishSingleFile>
    <PublishTrimmed>false</PublishTrimmed>
  </PropertyGroup>
</Project>
